# Folders
**/Backup
**/Hearings
**/Plots
**/BulkData
geocorr2000
PoliticalGeography
annual.by_industry

# Files
*.pkl
*.ods

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj
.Rproj.user/

